.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.prompt-regular {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #ceb992;
  --secondary-color: #36311f;
  --accent1-color: #cacaaa;
  --accent2-color: #020300;
  --heading-font: "Bebas Neue", sans-serif;
  --paragraph-font: "Prompt", sans-serif;
}

body {
  background-color: white;
}

h1 {
  color: #36311f;
  font-family: "Bebas Neue", sans-serif;
}

h2 {
  color: #36311f;
  font-family: "Bebas Neue", sans-serif;
}

p {
  color: black;
  font-family: "Prompt", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Prompt", sans-serif;
  font-weight: bold;
}

.hero {
  position: relative;
}

#hero_img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 50px;
  left: 20px;
  color: #36311f;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 125px;
}

.hero article {
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  max-width: 200%;
  border-radius: 5px;
}

.hero article img {
  float: right;
  width: 60%;
  height: auto;
  margin: 0 0 10px 15px;
}

.hero article p {
  margin: 0;
  color: #36311f;
}

section img {
  width: 400px;
  height: 400px;
}

a img {
  height: 25px;
}
