/* Root Variables */
:root {
	--primary-color: #ceb992;
	--secondary-color: #36311f;
	--accent1-color: #cacaaa;
	--accent2-color: #020300;
	--heading-font: "Bebas Neue", sans-serif;
	--paragraph-font: "Prompt", sans-serif;
}

/* Global Styles */
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	background-color: white;
}

h1 {
	color: #36311f;
	font-family: "Bebas Neue", sans-serif;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
	color: #36311f;
	font-family: "Bebas Neue", sans-serif;
}

p {
	color: black;
	font-family: "Prompt", sans-serif;
}

a {
	text-decoration: none;
	color: black;
	font-family: "Prompt", sans-serif;
	font-weight: bold;
}

/* Header */
header {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	padding: 5px;
}

header img {
	grid-column: 1;
	width: 100px;
	height: auto;
}

header nav {
	grid-column: 2;
	justify-self: end;
	padding: 0;
}

header nav ul {
	display: flex;
	gap: 10px;
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Hero Section */
.hero {
	position: relative;
}

#hero_img {
	display: block;
	width: 100%;
	height: auto;
}

.hero h1 {
	position: absolute;
	top: 50px;
	left: 20px;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	font-size: 125px;
}

.hero article {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	max-width: 60%;
	border-radius: 5px;
}

.hero article img {
	float: right;
	width: 60%;
	height: auto;
	margin: 0 0 10px 15px;
}

.hero article p {
	margin: 0;
	color: #36311f;
}

/* History Section */
#history {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background-color: #e0e0ff;
}

#history-content {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

#history-content p {
	flex: 1;
	margin: 0 20px;
	text-align: justify;
}

#history-content img {
	width: 200px;
	height: auto;
	margin: 0 20px;
}

/* Adventure Gallery */
.adventure-gallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
	padding: 20px;
	text-align: center;
}

.adventure-gallery figure {
	margin: 0;
}

.adventure-gallery img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.adventure-gallery figcaption {
	margin-top: 10px;
	font-weight: bold;
}

/* Info Container */
.info-container {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	padding-bottom: 0;
}

.compInfo,
.contact-form {
	width: 48%;
	border: 1px solid #ccc;
	padding: 10px;
	font-family: var(--paragraph-font);
}

/* Employee Profiles */
.employee-profile-section {
	display: flex;
	height: 100%;
	width: 100%;
	background: salmon;
}
.employee-profiles {
	text-align: center;
	padding: 5px;
	border: 1px solid #ccc;
	margin: 5px;
}

.employee {
	display: inline-block;
	width: 33.33%;
	margin: 10px;
	background-color: #f0f0f0;
	padding: 10px;
	border: 1px solid #ccc;
	vertical-align: top;
}

.employee img {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Footer */
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: black;
}

footer p {
	margin: 0;
	color: white;
}

footer .social {
	display: flex;
	gap: 10px;
}

footer .social a img {
	height: 25px;
	width: auto;
}

.map-iframe {
	width: 100%;
	height: 200px;
	border: 0;
}

header h1 {
	text-align: center;
	display: flex;
	justify-content: center;
}

/* index page */
.newsletter-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background-color: #e0e0ff;
}

.contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-family: var(--paragraph-font);
}

.contact-form p {
	font-family: var(--heading-font);
}

.compInfo {
	font-family: var(--paragraph-font);
	text-align: center;
}

.contact-form h2,
.compInfo h1 {
	font-family: var(--heading-font);
}
